.loading-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.loading {
  min-width: 80px;
  min-height: 80px;
  /* background-color: #37c97b; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

div.loading-wrapper.active {
  display: flex;
}

div.rect {
  position: absolute;
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 5px;
  transform: rotate(calc(var(--i) * 105deg)) scale(0);
  animation: scale 1s ease-in-out calc(var(--i) * 0.5s) infinite alternate;
  box-shadow: 1px 1px 10px rgba(1, 9, 8, 0.479);
}

@keyframes scale {
  from {
    transform: scale(0) rotate(calc(var(--i) * 35deg));
  }

  to {
    transform: scale(1) rotate(calc(var(--i) * 35deg));
  }
}
